/**
 * @version 1.9.0
 */

@font-face {
    font-family: 'Inconsolata LGC';
    font-weight: normal;
    font-style: normal;
    src: url('./inconsolata-lgc/Inconsolata-LGC.woff2') format('woff2');
}

@font-face {
    font-family: 'Inconsolata LGC';
    font-weight: normal;
    font-style: italic;
    src: url('./inconsolata-lgc/Inconsolata-LGC-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Inconsolata LGC';
    font-weight: bold;
    font-style: normal;
    src: url('./inconsolata-lgc/Inconsolata-LGC-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Inconsolata LGC';
    font-weight: bold;
    font-style: italic;
    src: url('./inconsolata-lgc/Inconsolata-LGC-BoldItalic.woff2') format('woff2');
}
